.is-style-circle-mask img {
	border-radius: 999em;

	/* If a browser supports it, we will switch to using a circular SVG mask. */
	@supports (mask-image: none) or (-webkit-mask-image: none) {
		border-radius: none;
		mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
		mask-mode: alpha;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
	}
}
