.entry__header,
.entry__summary,
.entry__footer,
.comments-template {
	@mixin center;
	max-width: var(--max-width-md);
}

.entry--archive {
	border-bottom: 2px solid var(--color-grey-100);
	margin-bottom: var(--spacing-8x);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width-md);
	padding-bottom: var(--spacing-8x);
}

.entry__byline {
	color: var(--color-grey-500);
	font-size: var(--font-size-sm);
	letter-spacing: var(--letter-spacing-md);
	text-transform: uppercase;

	& a {
		color: inherit;
	}
}

.entry__summary :last-child {
	margin-bottom: 0;
}

.entry__footer {
	margin-top: var(--spacing-2x) * 4;
}
