.alignleft {
	@media (--screen-m) {
		float: left;
		margin-bottom: var(--spacing-3);
		margin-left: calc(50% - var(--max-width-m) / 2);
		margin-right: var(--spacing-3);
		max-width: 50%;
	}
}

.alignright {
	@media (--screen-m) {
		float: right;
		margin-bottom: var(--spacing-3);
		margin-left: var(--spacing-3);
		margin-right: calc(50% - var(--max-width-m) / 2);
		max-width: 50%;
	}
}

.aligncenter {
	@mixin center-block;
	clear: both;
}

.alignfull {
	margin-left: calc(var(--spacing-2) * -1);
	margin-right: calc(var(--spacing-2) * -1);
	max-width: calc(100% + var(--spacing-4));
}

@media (--screen-m) {

	.alignwide {
		max-width: var(--max-width-l);
	}

}
