.decoration-none {
	text-decoration: none;
}

.h-decoration-underline {

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.font-heading {
	font-family: var(--font-family-serif);
}

.font-main {
	font-family: var(--font-family-sans);
}

.fw-700 {
	font-weight: 700;
}

.color-dark {
	color: var(--color-primary-900);
}

.font-size-m {
	font-size: var(--font-size-m);
}

.color-grey-60 {
	color: var(--color-grey-500);
}

.color-grey-100 {
	color: var(--color-grey-100);
}

.color-grey-700 {
	color: var(--color-grey-700);
}

.text-center {
	text-align: center;
}

.block {
	display: block;
}
