.max-width-xl {
	max-width: var(--max-width-xl);
}

.max-width-md {
	max-width: var(--max-width-md);
}

.max-width-wide {
	max-width: var(--max-width-lg);
}

.max-width-full {
	max-width: var(--max-width-2xl);
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
