.wp-block-latest-comments {
	list-style-type: none;
	padding-left: 0;

	&__comment {
		margin-bottom: var(--spacing-4);
	}

	&__comment-meta {
		font-size: var(--font-size-m);
		margin-bottom: var(--spacing-2);
		margin-top: var(--spacing);
	}

	&__comment-date {
		display: block;
	}
}
