.wp-block-media-text,
.wp-block-media-text.aligncenter {
	display: grid;
}

.wp-block-media-text {
	align-items: center;
	grid-gap: var(--spacing-4);
}

.wp-block-media-text__media {
	margin: 0;
}

@supports (grid-area: auto) {
	@media (--screen-m) {
		.wp-block-media-text {
			grid-template-areas: "media-text-media media-text-content";
			grid-template-columns: repeat(2, 1fr);

			&.has-media-on-the-right {
				grid-template-areas: "media-text-content media-text-media";
			}
		}

		.wp-block-media-text__media {
			grid-area: media-text-media;
		}

		.wp-block-media-text__content {
			grid-area: media-text-content;
		}
	}

	@media (--screen-l) {
		.wp-block-media-text.alignfull {
			grid-template-areas: "media-text-start media-text-media media-text-content media-text-end";
			grid-template-columns: auto minmax(0, calc(var(--max-width-l) / 2 - var(--spacing-2))) minmax(0, calc(var(--max-width-l) / 2 - var(--spacing-2))) auto;
		}
	}
}
