@media (--screen-m) {

	@supports (grid-area: auto) {

		.grid {
			display: grid;
			grid-gap: calc(var(--spacing-2) * 4);
			grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
		}

	}
}

.page-template-entry-no-header .app-main {
	padding-top: 0;
}
